body{
    color: #828282;
    background-color: #ffffff;
}
a{ color: #2a588d;}
h1 {color: #000000;}


/*background-color: #5e81a8;*/
/*background-color: #ffffff;*/
/*background-color: #e5ebf1;*/


p {
font-size: 13px;
font-weight: 400;
}
social_counters{
    font-size: 19px;
}